<html>
<head>
  <link rel="stylesheet" href="./static/skeleton.css">
</head>
<body>
  <h1 style="alignment: center">LeeHarte's CRUD Employee System</h1>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Salary</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dave Gamache</td>
          <td>26</td>
          <td>Male</td>
          <td>$900,000</td>
          <td><input type="button" value="Edit"><input type="button" value="Delete"></td>
        </tr>
        <tr>
          <td>Dwayne Johnson</td>
          <td>42</td>
          <td>Male</td>
          <td>$100,000</td>
          <td><input type="button" value="Edit"><input type="button" value="Delete"></td>
        </tr>
      </tbody>
    </table>
